body {
    font-family: 'Arial', sans-serif;
    padding-top: 20px;
    background-color: #f4f4f4;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #0000001a;
}

nav {
    margin-bottom: 20px;
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
}
